@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;

  --color-primary-900: #19216c;
  --color-primary-700: #35469c;
  --color-primary-500: #4c63b6;
  --color-primary-300: #7b93db;
  --color-primary-100: #bed0f7;
  --color-primary-50: #e0e8f9;

  --color-neutrals-900: #1f2933;
  --color-neutrals-700: #3e4c59;
  --color-neutrals-500: #616e7c;
  --color-neutrals-300: #9aa5b1;
  --color-neutrals-100: #e4e7eb;
  --color-neutrals-50: #f5f7fa;

  --color-yellow-900: #8d2b0b;
  --color-yellow-700: #cb6e17;
  --color-yellow-500: #f0b429;
  --color-yellow-300: #fadb5f;
  --color-yellow-100: #fff3c4;
  --color-yellow-50: #fffbea;
}

/* Light and Dark Mode Variables */
:root {
  --bg-color: linear-gradient(
    135deg,
    var(--color-neutrals-50) 0%,
    /* Light gray at top-left */ var(--color-primary-100) 50%,
    /* Very light blue in the center */ var(--color-yellow-50) 100%
      /* Pale yellow at bottom-right */
  );
  --text-color: black;
}

.dark {
  --bg-color: linear-gradient(
    135deg,
    var(--color-neutrals-700) 0%,
    /* Medium-dark gray at top-left */ var(--color-primary-700) 50%,
    /* Softer dark blue in the center */ var(--color-yellow-700) 100%
      /* Muted amber at bottom-right */
  );
  --text-color: white;
}

/* Apply Background and Text Colors */
body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh; /* Ensures gradient covers full height */
}

/* Ensure other elements use the custom properties */
.bg-white {
  background: var(--bg-color);
}

.text-black {
  color: var(--text-color);
}

// animation for home page
@keyframes skillFade {
  0%,
  100% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-skillFade {
  animation: skillFade 2s ease-in-out infinite;
}
